body { 
	background: #F7F7F7;
}

#formPosition {
	margin: 75px auto auto;
	background-color: #FBFBFB;
	border: 1px solid #006666;
	font-size: 20px;
}

input[type=text], input[type=password] {
	background-color: #FBFBFB;
	width: 300px;
	border: 1px solid #006666;
	height: 50px;
	display: block;
	font-size: 18px;
}

input[type=submit]{
	background-color: #007777;
	color: white;
	padding: 14px 20px;
	margin: 20px 0 0;
	border: none;
	cursor: pointer;
	display: block;
	width: 300px;
	font-size: 18px;
}
