<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/index.css">
		
		<title> Index </title>
		<div id="menu">
			<ul>
				<li><a href="login">Login</a></li>
			</ul>
		</div>
	</head>

	<body>
		<center>
		<h2>Social Media Crawler</h2>
		<hr/>
		<h4><i>Supportred Social Media</i></h4>
		<ul>
			<li> Facebook </li>
			<li> Twitter </li>
			<li> Google Plus </li>
			<li> Flickr </li>
			<li> Reddit </li>
		</ul>
		<hr/>
		<h4><i>What results to expect?</i></h4>
		<h5><u>Given the keyword you search for:</u></h5>
		<ol>
			<li>Facebook: top ten visited places</li>
			<li>Twitter: the ten latest tweets</li>
			<li>Google plus: the ten latest posts</li>
			<li>Flickr: the ten latest photos</li>
			<li>Reddit: top - most upvoted links that were posted on /r/all</li>
		</ol>
		<hr/>
		<p><font size="2"><b>All results are categorised and provided 
				with the form of urls</font></b></p>
		</center>
	</body>
	
</html>
